*{
    margin: 0;
}
body{
    background-color: #f5f8ff;
}

/* shared styles */
.primary-color{
    color: #4E47FF;
}
.primary-btn{
    font-family: "raleway";
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    transition: 1s ease;
    cursor: pointer;
}

.primary-btn:hover{
    background-color: #100d80;
    color: white;
    transition: 1s ease;
}

.raleway-main {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-second {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.section-heading{
    font-family: "raleway";
    font-weight: bold;
    font-size: 50px;
    color: #252432;
}
/* header styles */
header{
    background-image: url(../assets/Hero-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* nav styles */
.navbar{
    width: 1140px;
    margin: 0 auto;
    align-items: center;
}
.nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h3{
    font-family: "inter";
    font-size: 34;
    font-weight: 900;
    padding: 50px 0;
}

/* hero styles */
.hero-items{
    width: 905px;
    margin: 158px auto;
    
}
.hero-heading h3{
    color: #252432;
    font-family: "raleway";
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.hero-btn{
    width: 174px;
    margin: 37px auto 152px;
    text-align: center;
}

/* Header section end */

/* Main section start */

section{
    width: 1140px;
    margin: 116px auto;
}
.first-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.image-details{
    width: 517px;
}
.image-heading{
    font-family: "inter";
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.image-description{
    font-family: "inter";
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0;
}
.image img{
    border-radius: 48px;
}
.image-btn{
    width: 160px;
    text-align: center;
}

/*  First section End*/

/* Second section Start */

.second{
    background-color: rgb(228, 230, 255);
    border-radius: 24px;
}
.second-section{
    padding: 50px 142px;
}
.second-section-heading{
    text-align: center;
    font-family: "raleway";
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}
.heading-items{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.items p{
    text-align: center;
    font-family: "inter";
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.items .main{
    font-family: "inter";
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
/* second section end */


/* third section start */

.third .section-heading{
    text-align: center;
    margin-bottom: 50px;
}
.stars{
    margin-bottom: 24px;
}
.all-card{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.card{
    background-color: white;
    border-radius: 14px;
    padding: 24px;
}
.card-profile{
    display: flex;
    gap: 15px;
    margin-top: 24px;
} 

.profile-image img{
    border-radius: 50%;
}

.card-heading{
    font-family: "inter";
    font-size: 24px;
    font-weight: 600;
    color: #252432;
    padding-bottom: 8px;
}
.card-details{
    font-family: "inter";
    font-size: 16px;
    font-weight: normal;
    color: #252432;
}
.profile-heading{
    font-family: "inter";
    font-size: 16px;
    font-weight: 600;
    color: #252432;
}
.profile-description{
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* third section end */

/* fourth section start */

.fourth{
    background-color: white;
    border-radius: 14px;
}
.fourth-section{
    padding: 71px 150px;
    text-align: center;
}

.section-description{
    font-family: "inter";
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}
.section-btn{
    border: none;
    margin-bottom: 20px;
}
.fourth-section img{
    border-radius: 48px;
}

/* fourth section end */

/* fifth section start */

.fifth-section{
    display: flex;
    padding: 71px 0;
    justify-content: space-between;
    align-items: center;
    
}
.fifth-sec-heading{
    font-family: "raleway";
    font-weight: bold;
    font-size: 97px;
    color: #252432;
    width: 528px;
}
.fifth-sec-form .form-group label{
    font-family: "inter";
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    display: block;
    
}
.form-group{
    width: 500px;
}

.form-group input{
    padding: 20px;
    margin: 10px 0 20px;
    border: 1px solid #D6DDED;
    font-size: 20px;
    font-family: "inter";
    color:rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    
}
.form-group p{
    text-align: center;
}
textarea{
    padding: 20px;
    margin: 10px 0 20px;
    border: 1px solid #D6DDED;
    font-size: 20px;
    font-family: "inter";
    color:rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    
}

/* fifth section end */

/* footer section start */

footer{
    background-color: white;
    
}

.footer-section{
    width: 530px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
    
}
.footer-section .logo{
    font-family: "inter";
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 20px;
}
.footer-section .logo-description{
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    color: #8987A1;
    margin-bottom: 20px;
}

.footer-nav ul{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;

}
.footer-nav ul li{
    list-style: none;

}
.footer-nav ul li a{
    text-decoration: none;
    font-family: "inter";
    font-size: 12px;
    font-weight: 400;
    color: #8987A1;
    margin-bottom: 20px;
}